body {
    background-color: red; 
}


    body {
        background-color: red;
        font-size: 5px;
    }



@media only screen and (min-width: 301px) and (max-width:768px) {
    body {
        background-color: green;
        font-size: 10px;
    }
    .container{
        display: flex;
        flex-direction: row;
        
}
    #small {
        width:66,66%;
    }
    #medium {
        width: 33,33%;
    }
    #large {
        width:100%;
    }
}
@media only screen and (min-width: 769px) {
    body {
        background-color: blue;
        font-size: 30px;
    }
    .container{
        display: flex;
        flex-direction: row;
    }
}